
._3g3YqN-2lGgLUce78n6Tvc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 72px;
    padding: 0 16px;
    border-bottom: 1px solid #d5dee6;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-11r3rr9:checked + .css-1150u2x, [data-css-11r3rr9]:checked + .css-1150u2x {
    z-index: 2;
    color: rgb(1, 108, 209);
    background-image: none;
    background-color: rgba(1, 108, 209, 0.08);
}
<style>…</style>
.css-1ghpsr2:first-child .css-1150u2x, [data-css-1ghpsr2]:first-child .css-1150u2x {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.css-87b09r, [data-css-87b09r] {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(0px 0px 0px 0px);
    overflow: hidden;
    padding: 0px;
    margin: -1px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.css-1ghpsr2, [data-css-1ghpsr2] {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-left: -1px;
    flex: 1 1 0%;
}
user agent stylesheet
label {
    cursor: default;
}

.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.css-1nh15md, [data-css-1nh15md] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex: 1 1 0%;
}
<style>…</style>
.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

<style>…</style>
.css-11r3rr9:checked + .css-1150u2x, [data-css-11r3rr9]:checked + .css-1150u2x {
    z-index: 2;
    color: rgb(1, 108, 209);
    background-image: none;
    background-color: rgba(1, 108, 209, 0.08);
}
<style>…</style>
.css-1ghpsr2:first-child .css-1150u2x, [data-css-1ghpsr2]:first-child .css-1150u2x {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/root/app/Sourc….module.css:12
._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
<style>…</style>
.css-1b6fxcd, [data-css-1b6fxcd], .css-1b6fxcd .ui-lib-box:not(.ui-lib-has-text-style), [data-css-1b6fxcd] .ui-lib-box:not(.ui-lib-has-text-style) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.05px;
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
<style>…</style>
.css-1150u2x, [data-css-1150u2x] {
    display: flex;
    position: relative;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(to top, rgba(67, 90, 111, 0.04), white);
    box-shadow: rgba(67, 90, 111, 0.145) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.08) 0px -1px 1px 0px inset;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    flex: 1 1 0%;
    transition: box-shadow 80ms ease-in-out;
}
<style>…</style>
.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
<style>…</style>
.ui-lib-box, .ui-lib-box::before, .ui-lib-box::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


i.main {
  display: flex;
  align-items: center;
  min-height: var(--major-scale-9);
  padding: 0 var(--major-scale-2);
  border-bottom: 1px solid var(--color-border);
}

._3g3YqN-2lGgLUce78n6Tvc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 72px;
    padding: 0 16px;
    border-bottom: 1px solid #d5dee6;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.css-1ghpsr2, [data-css-1ghpsr2] {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-left: -1px;
    flex: 1 1 0%;
}

.css-87b09r, [data-css-87b09r] {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(0px 0px 0px 0px);
    overflow: hidden;
    padding: 0px;
    margin: -1px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.css-11r3rr9:checked + .css-1150u2x, [data-css-11r3rr9]:checked + .css-1150u2x {
    z-index: 2;
    color: rgb(1, 108, 209);
    background-image: none;
    background-color: rgba(1, 108, 209, 0.08);
}

.css-1b6fxcd, [data-css-1b6fxcd], .css-1b6fxcd .ui-lib-box:not(.ui-lib-has-text-style), [data-css-1b6fxcd] .ui-lib-box:not(.ui-lib-has-text-style) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.05px;
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.css-1150u2x, [data-css-1150u2x] {
    display: flex;
    position: relative;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(to top, rgba(67, 90, 111, 0.04), white);
    box-shadow: rgba(67, 90, 111, 0.145) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.08) 0px -1px 1px 0px inset;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    flex: 1 1 0%;
    transition: box-shadow 80ms ease-in-out;
}

.css-1ghpsr2:first-child .css-1150u2x, [data-css-1ghpsr2]:first-child .css-1150u2x {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.css-1ghpsr2:last-child .css-1150u2x, [data-css-1ghpsr2]:last-child .css-1150u2x {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

input.ui-lib-box, textarea.ui-lib-box {
    outline: none;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-n9fe5c, [data-css-n9fe5c] {
    flex: 1 1 0%;
}

.css-1b6fxcd, [data-css-1b6fxcd], .css-1b6fxcd .ui-lib-box:not(.ui-lib-has-text-style), [data-css-1b6fxcd] .ui-lib-box:not(.ui-lib-has-text-style) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.05px;
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.css-zzf9ll, [data-css-zzf9ll] {
    -webkit-appearance: none;
    background-color: white;
    box-shadow: rgba(67, 90, 111, 0.204) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.145) 0px 1px 2px inset;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.css-1nh15md, [data-css-1nh15md] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex: 1 1 0%;
}

.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

label {
    margin-bottom:0;
}

.N7RqZlA3wCu6uBab7WCZe {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-left: 32px;
    padding-right: 16px;
    border: none;
    background: #fff;
    text-align: left;
    border-radius: 0;
    -webkit-animation: _3EARXnayrjJmW0ggEuyg3s .4s cubic-bezier(.4,0,.2,1);
    animation: _3EARXnayrjJmW0ggEuyg3s .4s cubic-bezier(.4,0,.2,1);
    border-bottom: 1px solid rgba(67,90,111,.079);
}

._1OaBdfXOfy6o6Wyq9OaFmn {
    text-align: right;
    min-width: 144px;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

._3of-EWNO1IxbMWx-75-G3q {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -.05px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 24px;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.QWHzinJxouIIUBH7EMOmx {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

._3th8iVl_LfZwPM8LEi1s3X {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    min-width: 56px;
    margin: 0 24px;
    text-transform: uppercase;
}

.css-1c2r582, [data-css-1c2r582] {
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

svg:not(:root) {
    overflow: hidden;
}

._3gxYHiRaDFQIf9SBw2xNwD *, ._3gxYHiRaDFQIf9SBw2xNwD :after, ._3gxYHiRaDFQIf9SBw2xNwD :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

svg[Attributes Style] {
    width: 100%;
    height: 100%;
    fill: rgb(1, 108, 209);
}
